body{
}
.card{
  background: rgb(96,98,120);
  background: linear-gradient(179deg, rgba(96,98,120,1) 5%, rgba(50,50,50,1) 97%);
  color: #fff;
  border-radius: 30px 0px 30px 0px;

}
.card-header{
  font-size: 20px;
  font-weight: bold;
    border-radius: 100px 300px 40px 100px;
}

.circle-wrap {
  float: left;
  margin: 4px auto;
  width: 60px;
  height: 60px;
  background: #e6e2e7;
  border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .circle .mask {
  clip: rect(0px, 60px, 60px, 26px);
}
.circle-wrap .circle .mask .fill {
  clip: rect(0px, 26px, 60px, 0px);
  background-color: #9e00b1;
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}
 
@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  
}
.circular-progress {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.circular-progress:before {
  content: "";
  position: absolute;
  height: 50%;
  width: 50%;
  background-color: #ffffff;
  border-radius: 50%;
}
.value-container {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  color: #231c3d;
}

.circle-wrap .inside-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  color: black;
  line-height: 40px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 10px;
}
.count{
  z-index: 1;
  position: absolute;
  margin-left: 130px;
}
.category{
  z-index: 2;
  margin-left: 130px;
  padding-top: 40px;
  position: absolute;
  color: darkgray;
}
.fa-3x{
  
  color: darkgray;
}
.info{
  width: 311.33px;
  height: 105px;
}
.section-title{
  z-index: 2;
  position: absolute;

}
.section-search{
  z-index: 1;
  position: absolute;
  margin-left: 1000px;
  float: right;
}
.navbar{
  padding-top: 0;
  margin-top: 0;
  background-color: transparent;
}
.sched-info{
    height: 420px;
}
.sched-info .btnSub{
  float: right;
}
.btnSubmit{
  width: 42%;
}
.navbar-brand{
  font-style: bold;
}